@import url("./Root.css");

.footer-container {
  background-color: var(--color-footer);
  margin: 50px -50px 0px;
  color: var(--color-text-secundario);
  padding: 40px 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer-item {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p, .footer-item ul {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-secundario);
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul li {
  margin: 5px 0;
}

.footer-item ul li a {
  color: var(--color-text-secundario);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-item ul li a:hover {
  color: var(--color-enlace-footer);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  font-size: 24px;
  color: var(--color-text-secundario);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--color-enlace-footer);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-item {
    width: 100%;
  }
}
