@import url("./Root.css");

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header);
    padding: 0 20px;
    height: 64px;
    overflow: hidden;
    /* box-shadow: 0px 0.1px 0px var(--color-text-primario); */
}

.contenedor-logo {
    display: flex;
    align-items: center;
    min-width: 180px;
}

.contenedor-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-weight: bold;
}

.Nombre-projecto {
    color: var(--color-text-primario);
    font-size: 26px;
    font-weight: bold;
    white-space: nowrap;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: var(--color-header);
    min-width: 300px;
}

.menu .ant-menu-item {
    color: var(--color-text-primario);
    font-weight: 600;
}

.menu-actions {
    display: flex;
    align-items: center;
    padding: 50px;
}

.login-btn {
    background: var(--color-header);
    box-shadow: 1px 1px 1px 2px rgb(213, 208, 208);
    border: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
}

.login-btn:hover {
    background: var(--color-text-primario) !important;
    color: var(--color-header);
}

.menu-btn {
    display: none;
    color: var(--color-text-primario);
}

.btnIR {
    margin: 25px 0px;
    padding: 10px;
}

.usuario-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
/* .contenedorUsuario1 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.contenedorUsuario {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background-color: #e6f7ff;
    /* Fondo suave azul */
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .menu-actions {
        width: auto;
    }
}

@media (max-width: 1025px) {
    .header {
        padding: 0 10px;
    }

    .contenedor-logo {
        min-width: 140px;
    }

    .login-btn {
        font-size: 24px;
        padding: 5px 10px;
        display: none;
    }

    .contenedorUsuario1 {
        display: none;
        font-size: 12px;
        font-weight: bold;
    }

    .menu-actions {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .menu-btn {
        display: block;
    }
}
